@font-face {
  font-family: 'Aurora';
  src: url('assets/Aurora-Font.otf');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('assets/Gill\ Sans-Font.otf');
}

#main-content {
  font-family: 'Gill Sans';
  color: #040E1A;
}

#banner {
  color: #C7DFF3;
}

#icon-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: smaller;
}

#name {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  font-family: 'Aurora';
  font-size: 7.5vw;
}

#about-me {
  font-weight: 600;
  color: #1831B8;
}