@font-face {
  font-family: 'Aurora';
  src: url('assets/Aurora-Font.otf');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('assets/Gill\ Sans-Font.otf');
}

#main-content {
  font-family: 'Gill Sans';
  color: #040E1A;
}

#banner {
  position: relative;
  color: #C7DFF3;
}

#icon-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: smaller;
}

#icon-bar a {
  color: #C7DFF3;
  text-decoration: none;
}

#nav-bar {
  position: absolute;
  left: 70%;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav-link {
  font-size: 3.25vw;
}

#name {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  font-family: 'Aurora';
  font-size: 7.5vw;
}

#about-me {
  font-weight: 600;
  color: #1831B8;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.first-column {
  width: 46.4%;
}

.second-column {
  width: 20.6%;
}

.third-column {
  width: 33%;
}