@font-face {
  font-family: 'Aurora';
  src: url('assets/aurora.otf');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('assets/gill_sans.otf');
}

@font-face {
  font-family: 'Eina01';
  src: url('assets/eina01.otf');
}

#main-content {
  font-family: 'Gill Sans';
  color: #27344D;
}

.border-bottom-thin {
  border-bottom: 1px solid rgba(4, 14, 26, 0.5);
}

#banner {
  position: relative;
  color: #C7DFF3;
}

#icon-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: smaller;
}

#icon-bar a {
  color: #C7DFF3;
  text-decoration: none;
}

.banner-icon, .footer-icon {
  width: 19.2px;
  height: 19.2px;
}

@media (max-width: 576px) {
  .icon-description {
    display: none;
  }
}

@media (min-width: 576px) {
  .banner-icon, .footer-icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

#banner-navbar {
  position: absolute;
  left: 70%;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-nav-link {
  font-size: 3.25vw;
  color: #C7DFF3;
  text-decoration: none;
}

.selected-banner-nav-link {
  font-size: 4vw;
  text-decoration: underline;
}

#banner-name {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  font-family: 'Aurora';
  font-size: 7.5vw;
  color: #C7DFF3;
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgba(4, 14, 26, 0.5);
}

#navbar-name {
  font-family: 'Aurora';
  font-size: 20px;
  color: rgb(4, 14, 26);
  text-decoration: none;
}

.nav-link {
  font-size: 16px;
  align-content: center;
  color: rgba(4, 14, 26, 0.5);
  text-decoration: none;
}

.selected-nav-link {
  color: rgb(4, 14, 26);
}

@media (min-width: 576px) {
  #navbar-name {
    font-size: 25px;
  }

  .nav-link {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  #navbar-name {
    font-size: 31.25px;
  }

  .nav-link {
    font-size: 25px;
  }
}

#about-me-title {
  font-family: 'Eina01';
}

#hi-there {
  width: 30%;
  height: fit-content;
}

.home-first-column {
  width: 46.75%;
}

.home-second-column {
  width: 22.1%;
}

.home-third-column {
  width: 31.15%;
}

.bg-first-column {
  width: 68%;
}

.bg-second-column {
  width: 32%;
}

#back-to-top {
  color: rgba(4, 14, 26, 0.25);
  width: fit-content;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
}

#popup-img {
  max-width: 100vw;
  max-height: 100vh;
}

#popup-close-btn {
  position: fixed;
  top: 0;
  right: 0;
}